{% extends "skeleton.html" %}
{% block content %}
<div class="pull-left span5">
    <h1>Welcome to MyLego</h1>
    <p>If you do not have an account, please register it :)</p>
    <p><a class="btn btn-primary btn-large" href="{% url "registration" %}">Register now!</a></p>
</div>
<div class="pull-right">
    <form class="well">
        <label>Username</label>
        <input type="text" class="span3" placeholder="Type your username">
        <label>Password</label>
        <input type="password" class="span3" placeholder="Type your password">
        <label class="checkbox">
            <input type="checkbox">Remember me
        </label>
        <button type="submit" class="btn">Log me in</button>
    </form>
</div>
{% endblock %}